Repository stretchr/testify, pull requests merged in 2023-07, with the labels that each got.

#1346 Update mockery link to Github Pages in README
  README.md
Labels: documentation

#1410 docs: Fix typos in tests and comments
  assert/assertion_format.go
  assert/assertion_forward.go
  assert/assertions.go
  assert/assertions_test.go
  mock/mock_test.go
  require/require.go
  require/require_forward.go
Labels: documentation

#1409 CI: tests from go1.17
  .github/workflows/main.yml
  go.mod
Labels: Changes Requested, github_actions

#1320 Fix adding ? when no values passed
  assert/http_assertions.go
Labels: bug, pkg-assert

#1406 codegen: use standard header for generated files
  README.md
  _codegen/main.go
  assert/assertion_format.go
  assert/assertion_forward.go
  require/require.go
  require/require_forward.go
Labels: internal/codegen

#1360 mock: AssertExpectations log reason only on failure
  mock/mock.go
Labels: bug, pkg-mock

#1417 assert: fix flaky TestNeverTrue
  assert/assertions_test.go
Labels: pkg-assert, concurrency

#1428 README: fix typos "set up" vs "setup"
  README.md
Labels: input needed, help wanted, internal/refactor
