Repository stretchr/testify, pull requests merged in 2023-10, with the labels that each got.

#1470 Remove no longer needed assert.canConvert
  assert/assertion_compare.go
  assert/assertion_compare_can_convert.go
  assert/assertion_compare_go1.17_test.go
  assert/assertion_compare_legacy.go
  assert/assertion_compare_test.go
Labels: pkg-assert, internal/refactor, hacktoberfest-accepted

#1464 assert: ObjectsAreEqual: use time.Equal for time.Time types
  assert/assertions.go
  assert/assertions_test.go
Labels: bug, pkg-assert, hacktoberfest-accepted

#1484 assert: fix httpCode and HTTPBody occur panic when http.Handler read Body
  assert/http_assertions.go
  assert/http_assertions_test.go
Labels: bug, pkg-assert, pkg-http, hacktoberfest-accepted

#1489 .github: use latest Go versions
  .github/workflows/main.yml
Labels: github_actions, hacktoberfest-accepted

#1474 suite: refactor test assertions
  suite/suite_test.go
Labels: Changes Requested, pkg-suite, internal/refactor, internal/testing, hacktoberfest-accepted

#1335 docs: Fix deprecation comments for http package
  doc.go
  http/doc.go
  http/test_response_writer.go
  http/test_round_tripper.go
Labels: documentation, pkg-http, hacktoberfest-accepted

#1306 Add map support doc comments to Subset and NotSubset
  assert/assertion_format.go
  assert/assertion_forward.go
  assert/assertions.go
  require/require.go
  require/require_forward.go
Labels: documentation, pkg-assert, must-rebase
