Repository stretchr/testify, pull requests merged in 2024-10, with the labels that each got.

#1129 Add assertion for NotErrorAs
  assert/assertion_format.go
  assert/assertion_forward.go
  assert/assertions.go
  assert/assertions_test.go
  require/require.go
  require/require_forward.go
Labels: enhancement, pkg-assert, pkg-require

#1421 suite: fix test failures
  suite/suite_test.go
Labels: test, pkg-suite, internal/refactor, internal/testing

#1636 Record Return Arguments of a Call
  mock/mock.go
Labels: pkg-mock

#1610 Generate better comments for require package
  _codegen/main.go
  require/require.go
  require/require.go.tmpl
Labels: documentation, pkg-require, internal/codegen

#1586 assert.EqualExportedValues: accepts everything
  assert/assertions.go
  assert/assertions_test.go
Labels: enhancement, pkg-assert, assert.EqualValues

#1518 README: replace Testify V2 notice with @dolmen's V2 manifesto
  README.md
  doc.go
Labels: documentation
