Repository stretchr/testify, pull requests merged in 2024-05, with the labels that each got.

#1593 Correctly document EqualValues behavior
  assert/assertion_format.go
  assert/assertion_forward.go
  assert/assertions.go
  require/require.go
  require/require_forward.go
Labels: documentation, pkg-assert, assert.EqualValues

#1587 assert.Regexp: handle []byte array properly
  assert/assertions.go
  assert/assertions_test.go
Labels: bug, enhancement, pkg-assert, assert.Regexp

#1579 assert: make YAML dependency pluggable via build tags
  assert/assertions.go
  assert/yaml/yaml_custom.go
  assert/yaml/yaml_default.go
  assert/yaml/yaml_fail.go
Labels: enhancement, dependencies, internal/cleanup, YAML
