Repository stretchr/testify, pull requests merged in 2024-03, with the labels that each got.

#1337 Add PanicAssertionFunc
  assert/assertions.go
  assert/assertions_test.go
Labels: enhancement, pkg-assert

#1562 assert: make tHelper a type alias
  assert/assertions.go
  require/requirements.go
Labels: pkg-assert, pkg-require, internal/refactor

#1565 .gitignore: ignore "go test -c" binaries
  .gitignore
Labels: internal/cleanup

#820 Do not get argument again unnecessarily in Arguments.Error()
  mock/mock.go
Labels: pkg-mock, internal/optimization

#1570 mock: improve doc
  mock/mock.go
Labels: documentation, pkg-mock, mock.ArgumentMatcher

#1566 assert: deprecate CompareType
  assert/assertion_compare.go
  assert/assertion_compare_test.go
  assert/assertion_order.go
Labels: pkg-assert, internal/refactor, internal/cleanup

#1433 mock: fix FunctionalOptions docs
  mock/mock.go
Labels: bug, documentation, pkg-mock

#1568 README: link out to the excellent testifylint
  README.md
  doc.go
Labels: documentation
