Repository stretchr/testify, pull requests merged in 2024-02, with the labels that each got.

#1531 assert: Fix EqualValues to handle overflow/underflow
  assert/assertions.go
  assert/assertions_test.go
Labels: bug, pkg-assert, pkg-require

#1485 assert: better formatting for Len() error
  assert/assertions.go
  assert/assertions_test.go
Labels: bug, pkg-assert, hacktoberfest-accepted

#1331 Ensure AssertExpectations does not fail in skipped tests
  mock/mock.go
  mock/mock_test.go
Labels: bug, pkg-mock

#1535 suite: fix deadlock in suite.Require()/Assert()
  suite/suite.go
  suite/suite_test.go
Labels: bug, pkg-suite

#1548 http_assertions: honour the msgAndArgs provided with each assertion
  assert/assertions.go
  assert/assertions_test.go
  assert/http_assertions.go
  assert/http_assertions_test.go
Labels: bug

#1247 fix typos in comments and tests
  .github/ISSUE_TEMPLATE/bug_report.md
  assert/assertions_test.go
  suite/suite_test.go
Labels: documentation, must-rebase

#1385 Add `NotImplements` and variants
  assert/assertion_format.go
  assert/assertion_forward.go
  assert/assertions.go
  assert/assertions_test.go
  require/require.go
  require/require_forward.go
Labels: enhancement, pkg-assert

#1339 Add support to compare uintptr
  assert/assertion_compare.go
  assert/assertion_compare_test.go
Labels: enhancement, pkg-assert, ready-for-merge
