Repository stretchr/testify, pull requests merged in 2025-05, with the labels that each got.

#1427 assert: check early in Eventually, EventuallyWithT, and Never
  assert/assertions.go
  assert/assertions_test.go
Labels: enhancement, pkg-assert, assert.Eventually

#1734 Improve ErrorAs failure message when error is nil
  assert/assertions.go
  assert/assertions_test.go
Labels: pkg-assert, type-error

#1747 assert,require: enable parallel testing on (almost) all top tests
  assert/assertion_compare_test.go
  assert/assertion_order_test.go
  assert/assertions_test.go
  assert/forward_assertions_test.go
  assert/http_assertions_test.go
  require/forward_requirements_test.go
  require/requirements_test.go
Labels: pkg-assert, pkg-require, internal/optimization, internal/testing

#1706 suite.Passed: add one more status test report
  suite/stats_test.go
Labels: pkg-suite, internal/testing

#1742 assert.Same/NotSame: improve usage of Sprintf
  assert/assertions.go
Labels: pkg-assert, internal/cleanup

#1754 assert.JSONEq: shortcut if same strings
  assert/assertions.go
Labels: pkg-assert, pkg-require, internal/optimization

#1755 assert.YAMLEq: shortcut if same strings
  assert/assertions.go
Labels: pkg-assert, pkg-require, internal/optimization, YAML

#1745 assert: check test failure message for Empty and NotEmpty
  assert/assertions_test.go
Labels: pkg-assert, internal/testing
