Repository stretchr/testify, pull requests merged in 2025-06, with the labels that each got.

#1753 assert.Empty: comprehensive doc of "Empty"-ness rules
  assert/assertion_format.go
  assert/assertion_forward.go
  assert/assertions.go
  assert/assertions_test.go
  require/require.go
  require/require_forward.go
Labels: documentation, pkg-assert, pkg-require, internal/testing

#1763 assert.EqualValues: improve test coverage to 100%
  assert/assertions_test.go
Labels: pkg-assert, assert.EqualValues, internal/testing

#1764 suite.Run: refactor handling of stats for improved readability
  suite/stats.go
  suite/suite.go
Labels: pkg-suite, internal/refactor, internal/cleanup

#1743 mock.AssertNumberOfCalls: improve error msg
  mock/mock.go
Labels: enhancement, pkg-mock
